@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>Quartz Scheduler</p>
        <p>Open the Sample.txt file: Path ==> &nbsp; <em><big><code>E:\\Logs\\Sample.txt</code></big></em></p>
    </div>
</body>
</html>
