<div class="container-fluid bg-primary text-white">
    <div class="container ps-1">
        <div class="row">
            <div class="col-6 text-start">
                <h2 class="p-2 m-0"><span class="ion-plus-round"></span>&nbsp;&nbsp;Add Topic</h2>
            </div>
        </div>
    </div>
</div>

<div class="container border border-1 my-3 p-0">
    <h4 class="bg-light border-bottom mb-0 p-2">Add Topic</h4>
    <form [formGroup]="topicForm" (ngSubmit)="onTopicSubmit()" class="p-3">
        <div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="topicTitle" formControlName="topicTitle"
                    placeholder="Topic Title" />
                <label for="topicTitle">Topic Title<span class="text-danger">*</span></label>
            </div>

            <div class="form-floating mb-3">
                <select id="type" class="form-select" formControlName="type">
                    <option value="Reading">Reading</option>
                    <option value="Video">Video</option>
                </select>
                <label for="type">Content Type<span class="text-danger">*</span></label>
            </div>

            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="duration" formControlName="duration"
                    placeholder="Duration" />
                <label for="duration">Duration<span class="text-danger">*</span></label>
            </div>

            <div class="form-floating mb-3">
                <angular-editor id="description" formControlName="description" [config]="editorConfig"
                    placeholder="Content">
                </angular-editor>
            </div>

            <div class="col">
                <label for="video" class="form-label  pb-1 mb-0 fs-5">Video<span class="text-danger">*</span></label>
                <input type="file" class="form-control" id="video" (change)="insertVideo($event)" />
            </div>
        </div>
        <div class="row p-2">
            <div class="col-sm-4 col-lg-3"></div>
            <div class="col-3 d-none d-lg-block"></div>
            <div class="col-sm-4 col-lg-3 d-grid pe-0">
                <button type="submit" [disabled]="topicForm.invalid" class="btn btn-success d-block my-1 my-sm-0"><span
                        class="ion-checkmark-round"></span>&nbsp;&nbsp;Add Topic</button>
            </div>
            <div class="col-sm-4 col-lg-3 d-grid pe-1">
                <button type="reset" class="btn btn-danger"><span class="ion-close-round"></span>&nbsp;Cancel
                </button>
            </div>
        </div>
    </form>
</div>