@using System.Data
@using System.Data.SqlClient
@model System.Data.DataTable
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container px-5">
        <h1 class="display-6 text-center">Add new record</h1>
        <form id="StudentDetail" method="post" action="@Url.Action("InsertRecord")" class="mx-5 px-5 my-5">
            <div class="form-floating mb-3 mt-3">
                <input type="text" class="form-control" id="sName" placeholder="Enter Name" name="sName">
                <label for="sname">Name</label>
            </div>

            <div class="form-floating mt-3 mb-3">
                <input type="number" class="form-control" id="sAge" placeholder="Enter Age" name="sAge">
                <label for="sAge">Age</label>
            </div>
            <span>Select Gender: &nbsp;&nbsp;</span><div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="male" name="sGender" value="Male" checked>Male
                <label class="form-check-label" for="male"></label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="female" name="sGender" value="Female">Female
                <label class="form-check-label" for="female"></label>
            </div>
            <div class="mt-4">
                <button type="submit" class="btn btn-success" value="Submit" name="action">Submit</button>
                <button type="reset" class="btn btn-warning ms-2" value="Reset" name="action">Cancel</button>
            </div>
        </form>
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
