@{
    ViewBag.Title = "Contact";
}

<div class="container pt-4 pb-5">
    <div>
        <h1 class="text-center text-uppercase fs-2 fw-bold">Contact Us</h1>
    </div>
    <div class="fs-6">
        <div class="my-5 lh-lg">
            <h4 class="fs-4">
                Why choose @Html.ActionLink("Haunt", "Index", "Home", null, new { @class = "link-style" })
            </h4>
            <p>We just don't build your website we build your business. We Building Your Business with Strong Branding. Our helpful support team is always on standby to help you with any questions or issues. We have a great team to build your business.</p>
        </div>
        <div class="">
            <form>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="text" class="form-control mb-4" id="name" placeholder="Your Name" name="name">
                        <input type="email" class="form-control mb-4" id="email" placeholder="Email" name="email">
                        <input type="tel" class="form-control mb-4" id="phone" placeholder="Phone Number" name="phone">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <textarea class="form-control mb-4" rows="10" id="message" placeholder="Your Message" name="message"></textarea>                      
                    </div>
                </div>
                <button type="submit" class="btn btn-lg custom-btn text-uppercase">Submit Message</button>
            </form>
        </div>
    </div>
</div>
