<!-- ------------------------------------------------SECTION:3 CERTIFICATES---------------------------------------------- -->
<div class="container-fluid cs-3" id="findCareer">
    <h3 class="text-primary ps-5 ms-4">Professional Certificates</h3>
    <h2 class="ps-5 s3-h2 ms-4">Get job-ready for an in-demand career</h2>
    <p class="ps-5 s3-p ms-4">Break into a new field like information technology or data science. No prior experience
        necessary to get started.</p>
    <div id="carousel-1" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="0" class="bg-black active"></button>
            <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="1" class="bg-black"></button>
            <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="2" class="bg-black"></button>
            <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="3" class="bg-black"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container p-5">
                    <div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <div class="card">
                                <img src="../../assets/s2-1.jpeg" alt="s2-1" class="card-img-top">
                                <div class="card-body bg-primary shadow-lg text-white">
                                    <h4 class="card-title">Google UX Design</h4>
                                    <p class="card-text fs-5">Google</p>
                                    <p class="text-uppercase mb-0 cf"><strong>Professional Certificate</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 d-none d-sm-block">
                            <div class="card">
                                <img src="../../assets/s2-2.jpeg" alt="s2-2" class="card-img-top">
                                <div class="card-body bg-primary shadow-lg text-white">
                                    <h4 class="card-title">Facebook Marketing Analytics</h4>
                                    <p class="card-text fs-5">Meta</p>
                                    <p class="text-uppercase mb-0 cf2"><strong>Professional Certificate</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 d-none d-lg-block">
                            <div class="card">
                                <img src="../../assets/s3-3.jpeg" alt="s3-3" class="card-img-top">
                                <div class="card-body bg-primary shadow-lg text-white">
                                    <h4 class="card-title">IBM Data Engineering</h4>
                                    <p class="card-text fs-5">IBM</p>
                                    <p class="text-uppercase mb-0 cf"><strong>Professional Certificate</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="container p-5">
                    <div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <div class="card">
                                <img src="../../assets/s3-4.jpeg" alt="s3-4" class="card-img-top">
                                <div class="card-body bg-primary shadow-lg text-white">
                                    <h4 class="card-title">Intuit Bookkeeping</h4>
                                    <p class="card-text fs-5">Intuit</p>
                                    <p class="text-uppercase mb-0 cf"><strong>Professional Certificate</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 d-none d-sm-block">
                            <div class="card">
                                <img src="../../assets/s3-5.jpeg" alt="s3-5" class="card-img-top">
                                <div class="card-body bg-primary shadow-lg text-white">
                                    <h4 class="card-title">Google Data Analytics</h4>
                                    <p class="card-text fs-5">Google</p>
                                    <p class="text-uppercase mb-0 cf"><strong>Professional Certificate</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 d-none d-lg-block">
                            <div class="card">
                                <img src="../../assets/s3-6.jpeg" alt="s3-6" class="card-img-top">
                                <div class="card-body bg-primary shadow-lg text-white">
                                    <h4 class="card-title">Facebook Social Media Marketing</h4>
                                    <p class="card-text fs-5">Meta</p>
                                    <p class="text-uppercase mb-0 cf2"><strong>Professional Certificate</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="container p-5">
                    <div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <div class="card">
                                <img src="../../assets/s3-7.jpeg" alt="s2-7" class="card-img-top">
                                <div class="card-body bg-primary shadow-lg text-white">
                                    <h4 class="card-title">IBM Data Science</h4>
                                    <p class="card-text fs-5">IBM</p>
                                    <p class="text-uppercase mb-0 cf"><strong>Professional Certificate</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 d-none d-sm-block">
                            <div class="card">
                                <img src="../../assets/s3-8.jpeg" alt="s3-8" class="card-img-top">
                                <div class="card-body bg-primary shadow-lg text-white">
                                    <h4 class="card-title">Google Project Management&colon;</h4>
                                    <p class="card-text fs-5">Google</p>
                                    <p class="text-uppercase mb-0 cf2"><strong>Professional Certificate</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 d-none d-lg-block">
                            <div class="card">
                                <img src="../../assets/s3-9.jpeg" alt="s3-9" class="card-img-top">
                                <div class="card-body bg-primary shadow-lg text-white">
                                    <h4 class="card-title">Salesforce Sales Operations</h4>
                                    <p class="card-text fs-5">Salesforce</p>
                                    <p class="text-uppercase mb-0 cf2"><strong>Professional Certificate</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="container p-5">
                    <div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <div class="card">
                                <img src="../../assets/s3-10.jpeg" alt="s3-10" class="card-img-top">
                                <div class="card-body bg-primary shadow-lg text-white">
                                    <h4 class="card-title">Google IT Support</h4>
                                    <p class="card-text fs-5">Google</p>
                                    <p class="text-uppercase mb-0 cf"><strong>Professional Certificate</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 d-none d-sm-block">
                            <div class="card">
                                <img src="../../assets/s3-11.jpeg" alt="s3-11" class="card-img-top">
                                <div class="card-body bg-primary shadow-lg text-white">
                                    <h4 class="card-title">IBM Cybersecurity Analyst</h4>
                                    <p class="card-text fs-5">IBM</p>
                                    <p class="text-uppercase mb-0 cf2"><strong>Professional Certificate</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 d-none d-lg-block">
                            <div class="card">
                                <img src="../../assets/s3-12.jpeg" alt="s3-12" class="card-img-top">
                                <div class="card-body bg-primary shadow-lg text-white">
                                    <h4 class="card-title">Salesforce Sales Development Representative</h4>
                                    <p class="card-text fs-5">Salesforce</p>
                                    <p class="text-uppercase mb-0 cf4"><strong>Professional Certificate</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-1" data-bs-slide="prev">
                <span class="ion-chevron-left text-black fs-1"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-1" data-bs-slide="next">
                <span class="ion-chevron-right text-black fs-1"></span>
            </button>
        </div>
    </div>

    <div class="text-center my-4">
        <a href="#" class="h5 text-decoration-none s3-a"><strong>Explore Certificates&nbsp;&nbsp;<span
                    class="ion-arrow-right-a"></span></strong></a>
    </div>
</div>


<!-- ------------------------------------------------SECTION:4 DEGREES---------------------------------------------- -->
<div class="container-fluid cs-4" id="degrees">
    <h3 class="text-primary ps-5 ms-4">Master's and Bachelor's Degrees</h3>
    <h2 class="ps-5 s3-h2 ms-4">Find a top degree that fits your life</h2>
    <p class="ps-5 s3-p ms-4">Breakthrough pricing on 100% online degrees from top universities.</p>
    <div id="carousel-2" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel-2" data-bs-slide-to="0" class="bg-black active"></button>
            <button type="button" data-bs-target="#carousel-2" data-bs-slide-to="1" class="bg-black"></button>
            <button type="button" data-bs-target="#carousel-2" data-bs-slide-to="2" class="bg-black"></button>
            <button type="button" data-bs-target="#carousel-2" data-bs-slide-to="3" class="bg-black"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container p-5">
                    <div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <div class="card">
                                <img src="../../assets/c1_bscs-uol.jpg" alt="c1_bscs-uol" class="card-img-top">
                                <div class="card-body shadow-lg">
                                    <h6 class="card-title">Bachelor of Science in Computer Science</h6>
                                    <p class="card-text">from the University of London</p>
                                    <p class="text-uppercase mb-0 cf2"><strong>100% online</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 d-none d-sm-block">
                            <div class="card">
                                <img src="../../assets/c2_mads-umich.jpg" alt="c2_mads-umich" class="card-img-top">
                                <div class="card-body shadow-lg">
                                    <h6 class="card-title">Master of Applied Data Science</h6>
                                    <p class="card-text">from the University of Michigan</p>
                                    <p class="text-uppercase mb-0 cf"><strong>100% online</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 d-none d-lg-block">
                            <div class="card">
                                <img src="../../assets/c3_banner.jpg" alt="c3_banner" class="card-img-top">
                                <div class="card-body shadow-lg">
                                    <h6 class="card-title">Bachelor of Applied Arts and Sciences</h6>
                                    <p class="card-text">from the University of North Texas</p>
                                    <p class="text-uppercase mb-0 cf2"><strong>100% online</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="container p-5">
                    <div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <div class="card">
                                <img src="../../assets/c4_mba.jpg" alt="c4_mba" class="card-img-top">
                                <div class="card-body shadow-lg">
                                    <h6 class="card-title">MBA in Business Analytics</h6>
                                    <p class="card-text">from O.P. Jinadal Global University</p>
                                    <p class="text-uppercase mb-0 cf"><strong>100% online</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 d-none d-sm-block">
                            <div class="card">
                                <img src="../../assets/c5_header_mcsds-darkened.jpg" alt="c5_header_mcsds-darkened"
                                    class="card-img-top">
                                <div class="card-body shadow-lg">
                                    <h6 class="card-title">Master of Computer Science in Data Science</h6>
                                    <p class="card-text">from the University of Illinois at Urbana-Champaign</p>
                                    <p class="text-uppercase mb-0 cf3"><strong>100% online</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 d-none d-lg-block">
                            <div class="card">
                                <img src="../../assets/c6_Illinois_cropped.jpg" alt="c6_Illinois_cropped"
                                    class="card-img-top">
                                <div class="card-body shadow-lg">
                                    <h6 class="card-title">Master of Business Administration (iMBA)</h6>
                                    <p class="card-text">from the University of Illinois at Urbana-Champaign</p>
                                    <p class="text-uppercase mb-0 cf3"><strong>100% online</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="container p-5">
                    <div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <div class="card">
                                <img src="../../assets/c7_header.jpg" alt="c7_header" class="card-img-top">
                                <div class="card-body shadow-lg">
                                    <h6 class="card-title">Master of Science in Data Science</h6>
                                    <p class="card-text">from the University of Colarado Boulder</p>
                                    <p class="text-uppercase mb-0 cf2"><strong>100% online</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 d-none d-sm-block">
                            <div class="card">
                                <img src="../../assets/c8_banner.jpg" alt="c8_banner" class="card-img-top">
                                <div class="card-body shadow-lg">
                                    <h6 class="card-title">Master of Data Science</h6>
                                    <p class="card-text">from HSE University</p>
                                    <p class="text-uppercase mb-0 cf"><strong>100% online</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 d-none d-lg-block">
                            <div class="card">
                                <img src="../../assets/c9_croplogo.jpg" alt="c9_croplogo" class="card-img-top">
                                <div class="card-body shadow-lg">
                                    <h6 class="card-title">MSc in Innovation and Entrepreneurship</h6>
                                    <p class="card-text">from HEC Paris</p>
                                    <p class="text-uppercase mb-0 cf2"><strong>100% online</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="container p-5">
                    <div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <div class="card">
                                <img src="../../assets/c10_header.jpg" alt="c10_header" class="card-img-top">
                                <div class="card-body shadow-lg">
                                    <h6 class="card-title">Global Master of Business Administration (Global MBA)</h6>
                                    <p class="card-text">from Macquarie University</p>
                                    <p class="text-uppercase mb-0 cf2"><strong>100% online</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 d-none d-sm-block">
                            <div class="card">
                                <img src="../../assets/c11_ms-business-analytics-hse-banner.jpg"
                                    alt="c11_ms-business-analytics-hse-banner" class="card-img-top">
                                <div class="card-body shadow-lg">
                                    <h6 class="card-title">Master of Business Analytics</h6>
                                    <p class="card-text">from HSE University</p>
                                    <p class="text-uppercase mb-0 cf"><strong>100% online</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 d-none d-lg-block">
                            <div class="card">
                                <img src="../../assets/c12_master-of-data-network-analytics-hse-banner.jpg"
                                    alt="c12_master-of-data-network-analytics-hse-banner" class="card-img-top">
                                <div class="card-body shadow-lg">
                                    <h6 class="card-title">Master of Data and Network Analysis</h6>
                                    <p class="card-text">from HSE University</p>
                                    <p class="text-uppercase mb-0 cf2"><strong>100% online</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-2" data-bs-slide="prev">
                <span class="ion-chevron-left text-black fs-1"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-2" data-bs-slide="next">
                <span class="ion-chevron-right text-black fs-1"></span>
            </button>
        </div>
    </div>

    <div class="text-center my-4">
        <a href="#" class="h5 text-decoration-none s3-a"><strong>Explore Degrees&nbsp;&nbsp;<span
                    class="ion-arrow-right-a"></span></strong></a>
    </div>
</div>


<!-- ------------------------------------------------SECTION:5 SKILLS---------------------------------------------- -->
<div class="container-fluid cs-5">
    <h3 class="text-primary ps-5 ms-4">Courses and Specializations</h3>
    <h2 class="ps-5 s3-h2 ms-4">Advance your career with new skills</h2>
    <p class="ps-5 s3-p ms-4">Choose from over 4,000 courses in topics like business analytics, graphic design, Python,
        and more.</p>
    <div id="carousel-3" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel-3" data-bs-slide-to="0" class="bg-black active"></button>
            <button type="button" data-bs-target="#carousel-3" data-bs-slide-to="1" class="bg-black"></button>
            <button type="button" data-bs-target="#carousel-3" data-bs-slide-to="2" class="bg-black"></button>
            <button type="button" data-bs-target="#carousel-3" data-bs-slide-to="3" class="bg-black"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container p-5">
                    <div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <div class="card">
                                <img src="../../assets/s5-1.jpeg" alt="s5-1" class="card-img-top">
                                <div class="card-body shadow-lg text-white s5-cb1">
                                    <h4 class="card-title">Deep Learning</h4>
                                    <p class="card-text">DeepLearning.AI</p>
                                    <p class="text-uppercase mb-0 cf"><strong>Specialization (5 Courses)</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 d-none d-sm-block">
                            <div class="card">
                                <img src="../../assets/s5-2.jpeg" alt="s5-2" class="card-img-top">
                                <div class="card-body shadow-lg text-white s5-cb1">
                                    <h4 class="card-title">Python for Everybody</h4>
                                    <p class="card-text">University of Michigan</p>
                                    <p class="text-uppercase mb-0 cf"><strong>Specialization (5 Courses)</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 d-none d-lg-block">
                            <div class="card">
                                <img src="../../assets/s5-3.jpeg" alt="s5-3" class="card-img-top">
                                <div class="card-body shadow-lg text-white s5-cb1">
                                    <h4 class="card-title">Business Foundations</h4>
                                    <p class="card-text">University of Pennsylvania</p>
                                    <p class="text-uppercase mb-0 cf"><strong>Specialization (5 Courses)</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="container p-5">
                    <div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <div class="card">
                                <img src="../../assets/s5-4.jpeg" alt="s5-4" class="card-img-top">
                                <div class="card-body shadow-lg text-white s5-cb2">
                                    <h4 class="card-title">Foundations of Mindfulness</h4>
                                    <p class="card-text text-muted">Rice University</p>
                                    <p class="text-uppercase mb-0 cf2"><strong>Course</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 d-none d-sm-block">
                            <div class="card">
                                <img src="../../assets/s5-5.jpeg" alt="s5-5" class="card-img-top">
                                <div class="card-body shadow-lg text-white s5-cb1">
                                    <h4 class="card-title">Excel Skills for Business</h4>
                                    <p class="card-text">Macquarie University</p>
                                    <p class="text-uppercase mb-0 cf"><strong>Specialization (4 Courses)</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 d-none d-lg-block">
                            <div class="card">
                                <img src="../../assets/s5-6.jpeg" alt="s5-6" class="card-img-top">
                                <div class="card-body shadow-lg text-white s5-cb1">
                                    <h4 class="card-title">Security in Google Cloud</h4>
                                    <p class="card-text">Google Cloud</p>
                                    <p class="text-uppercase mb-0 cf2"><strong>Specialization (3 Courses)</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="container p-5">
                    <div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <div class="card">
                                <img src="../../assets/s5-7.jpeg" alt="s5-7" class="card-img-top">
                                <div class="card-body shadow-lg text-white s5-cb2">
                                    <h4 class="card-title">Cloud Computing Basics (Cloud 101)</h4>
                                    <p class="card-text text-muted">LearnQuest</p>
                                    <p class="text-uppercase mb-0 cf2"><strong>Course</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 d-none d-sm-block">
                            <div class="card">
                                <img src="../../assets/s5-8.jpeg" alt="s5-8" class="card-img-top">
                                <div class="card-body shadow-lg text-white s5-cb2">
                                    <h4 class="card-title">Innovation Through Design&colon; Think, Make, Break, Repeat
                                    </h4>
                                    <p class="card-text text-muted">The University of Sydney</p>
                                    <p class="text-uppercase mb-0 cf3"><strong>Course</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 d-none d-lg-block">
                            <div class="card">
                                <img src="../../assets/s5-9.jpeg" alt="s5-9" class="card-img-top">
                                <div class="card-body shadow-lg text-white s5-cb2">
                                    <h4 class="card-title">Statistics with SAS</h4>
                                    <p class="card-text text-muted">SAS</p>
                                    <p class="text-uppercase mb-0 cf"><strong>Course</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="container p-5">
                    <div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <div class="card">
                                <img src="../../assets/s5-10.jpeg" alt="s5-10" class="card-img-top">
                                <div class="card-body shadow-lg text-white s5-cb2">
                                    <h4 class="card-title">Powerful Tools for Teaching and Learning&colon; Digital
                                        Storytelling</h4>
                                    <p class="card-text text-muted">University of Houston</p>
                                    <p class="text-uppercase mb-0 cf3"><strong>Course</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 d-none d-sm-block">
                            <div class="card">
                                <img src="../../assets/s5-11.jpeg" alt="s5-11" class="card-img-top">
                                <div class="card-body shadow-lg text-white s5-cb2">
                                    <h4 class="card-title">Problem Solving Using Computational Thinking</h4>
                                    <p class="card-text text-muted">University of Michigan</p>
                                    <p class="text-uppercase mb-0 cf3"><strong>Course</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 d-none d-lg-block">
                            <div class="card">
                                <img src="../../assets/s5-12.jpeg" alt="s5-12" class="card-img-top">
                                <div class="card-body shadow-lg text-white s5-cb2">
                                    <h4 class="card-title">DNA Decoded</h4>
                                    <p class="card-text text-muted">McMaster University</p>
                                    <p class="text-uppercase mb-0 cf"><strong>Course</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-3" data-bs-slide="prev">
                <span class="ion-chevron-left text-black fs-1"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-3" data-bs-slide="next">
                <span class="ion-chevron-right text-black fs-1"></span>
            </button>
        </div>
    </div>

    <div class="text-center my-4">
        <a href="#" class="h5 text-decoration-none s3-a"><strong>Explore Skills&nbsp;&nbsp;<span
                    class="ion-arrow-right-a"></span></strong></a>
    </div>
</div>