<div class="container">
    <h3 class="display-6 text-center text-secondary">Hello World</h3>

    <header>
      <h2 class="display-5 text-center text-danger">Greeting of the Day !!!</h2>
      <h1 class="display-4 text-center text-primary">Welcome {{ name }}</h1>
    </header>

    <form action="" class="ms-0 m-4 text-danger">
      <label for="fname" class="form-label fs-5">Enter your Name: </label>
      <input type="text" class="form-control-sm mx-2 text-success" name="fname" id="fname" value="{{ name }}"/>
    </form>

    <app-hello-world></app-hello-world>
</div>