<div class="vh-100 overflow-auto">
    <h1 class="display-5 text-info mt-5 mt-sm-4 p-3 p-sm-0">CONTACT &colon;</h1>
    <ul class="mt-4">
      <li class="text-black-50">+91&hyphen;7434966248<br /><br /></li>
      <li class="text-black-50">charmijadawala1690@gmail.com<br /><br /></li>
      <li class="text-black-50">
        <em>
          B-94 Sarthi Bungalows,<br />
          Behind Skylights,<br />
          Bopal,<br />
          Ahmedabad-380058,<br />
          Gujarat.         
        </em>
      </li>
    </ul>
 </div>