<!-- ------------------------------------------------SECTION:12 FOOTER---------------------------------------------- -->
<div class="container-fluid footer-12">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
        <div class="col p-4">
            <h6>Start or advance your career</h6>
            <a href="#" class="link-dark fs-6">Google Data Analyst</a>
            <a href="#" class="link-dark fs-6">Google Project Management</a>
            <a href="#" class="link-dark fs-6">Google UX Design</a>
            <a href="#" class="link-dark fs-6">Google IT Support</a>
            <a href="#" class="link-dark fs-6">IBM Data Science</a>
            <a href="#" class="link-dark fs-6">IBM Data Analyst</a>
            <a href="#" class="link-dark fs-6">IBM Data Analytics with Excel and R</a>
            <a href="#" class="link-dark fs-6">IBM Cybersecurity Analyst</a>
            <a href="#" class="link-dark fs-6">IBM Data Engineering</a>
            <a href="#" class="link-dark fs-6">IBM Full Stack Cloud Developer</a>
            <a href="#" class="link-dark fs-6">Facebook Social Media Marketing</a>
            <a href="#" class="link-dark fs-6">Facebook Marketing Analytics</a>
            <a href="#" class="link-dark fs-6">Salesforce Sales Development Representative</a>
            <a href="#" class="link-dark fs-6">Salesforce Sales Operations</a>
            <a href="#" class="link-dark fs-6">Intuit Bookkeeping</a>
            <a href="#" class="link-dark fs-6">Preparing for Google Cloud Certification: Cloud Architect</a>
            <a href="#" class="link-dark fs-6">Preparing for Google Cloud Certification: Cloud Data Engineer</a>
            <a href="#" class="link-dark fs-6">Launch your career</a>
            <a href="#" class="link-dark fs-6">Prepare for a certification</a>
            <a href="#" class="link-dark fs-6">Advance your career</a>
        </div>
        <div class="col p-4">
            <h6>Browse popular topics</h6>
            <a href="#" class="link-dark fs-6">Free Courses</a>
            <a href="#" class="link-dark fs-6">Learn a Language</a>
            <a href="#" class="link-dark fs-6">Python</a>
            <a href="#" class="link-dark fs-6">Java</a>
            <a href="#" class="link-dark fs-6">Web Design</a>
            <a href="#" class="link-dark fs-6">SQL</a>
            <a href="#" class="link-dark fs-6">Cursos Gratis</a>
            <a href="#" class="link-dark fs-6">Microsoft Excel</a>
            <a href="#" class="link-dark fs-6">Project Management</a>
            <a href="#" class="link-dark fs-6">Cybersecurity</a>
            <a href="#" class="link-dark fs-6">Human Resources</a>
            <a href="#" class="link-dark fs-6">Data Science Free Courses</a>
            <a href="#" class="link-dark fs-6">Speaking English</a>
            <a href="#" class="link-dark fs-6">Content Writing</a>
            <a href="#" class="link-dark fs-6">Full Stack Web Development</a>
            <a href="#" class="link-dark fs-6">Artificial Intelligence</a>
            <a href="#" class="link-dark fs-6">C Programming</a>
            <a href="#" class="link-dark fs-6">Communication Skills</a>
            <a href="#" class="link-dark fs-6">Blockchain</a>
            <a href="#" class="link-dark fs-6">See all courses</a>
        </div>
        <div class="col p-4">
            <h6>Popular courses and articles</h6>
            <a href="#" class="link-dark fs-6">Skills for Data Science Teams</a>
            <a href="#" class="link-dark fs-6">Data Driven Decision Making</a>
            <a href="#" class="link-dark fs-6">Software Engineering Skills</a>
            <a href="#" class="link-dark fs-6">Soft Skills for Engineering Teams</a>
            <a href="#" class="link-dark fs-6">Management Skills</a>
            <a href="#" class="link-dark fs-6">Marketing Skills</a>
            <a href="#" class="link-dark fs-6">Skills for Sales Teams</a>
            <a href="#" class="link-dark fs-6">Product Manager Skills</a>
            <a href="#" class="link-dark fs-6">Skills for Finance</a>
            <a href="#" class="link-dark fs-6">Popular Data Science Courses in the UK</a>
            <a href="#" class="link-dark fs-6">Beliebte Technologiekurse in Deutschland</a>
            <a href="#" class="link-dark fs-6">Popular Cybersecurity Certifications</a>
            <a href="#" class="link-dark fs-6">Popular IT Certifications</a>
            <a href="#" class="link-dark fs-6">Popular SQL Certifications</a>
            <a href="#" class="link-dark fs-6">Marketing Manager Career Guide</a>
            <a href="#" class="link-dark fs-6">Project Manager Career Guide</a>
            <a href="#" class="link-dark fs-6">Python Programming Skills</a>
            <a href="#" class="link-dark fs-6">Web Developer Career Guide</a>
            <a href="#" class="link-dark fs-6">Data Analyst Skills</a>
            <a href="#" class="link-dark fs-6">Skills for UX Designers</a>
        </div>
        <div class="col p-4">
            <h6>Earn a degree or certificate online</h6>
            <a href="#" class="link-dark fs-6">MasterTrack&reg; Certificates</a>
            <a href="#" class="link-dark fs-6">Professional Certificates</a>
            <a href="#" class="link-dark fs-6">University Certificates</a>
            <a href="#" class="link-dark fs-6">MBA & Business Degrees</a>
            <a href="#" class="link-dark fs-6">Data Science Degrees</a>
            <a href="#" class="link-dark fs-6">Computer Science Degrees</a>
            <a href="#" class="link-dark fs-6">Data Analytics Degrees</a>
            <a href="#" class="link-dark fs-6">Public Health Degrees</a>
            <a href="#" class="link-dark fs-6">Social Sciences Degrees</a>
            <a href="#" class="link-dark fs-6">Management Degrees</a>
            <a href="#" class="link-dark fs-6">Degrees from Top European Universities</a>
            <a href="#" class="link-dark fs-6">Master's Degrees</a>
            <a href="#" class="link-dark fs-6">Bachelor's Degrees</a>
            <a href="#" class="link-dark fs-6">Degrees with a Performance Pathway</a>
            <a href="#" class="link-dark fs-6">Bsc Courses</a>
            <a href="#" class="link-dark fs-6">What is a Bachelor's Degree?</a>
            <a href="#" class="link-dark fs-6">How Long Does a Master's Degree Take?</a>
            <a href="#" class="link-dark fs-6">Is an Online MBA Worth It?</a>
            <a href="#" class="link-dark fs-6">7 Ways to Pay for Graduate School</a>
            <a href="#" class="link-dark fs-6">See all certificates</a>
        </div>
    </div>

    <div class="row footer-r2">
        <div class="col p-4">
            <h6>Coursera</h6>
            <a href="#" class="link-dark fs-6">About</a>
            <a href="#" class="link-dark fs-6">What We Offer</a>
            <a href="#" class="link-dark fs-6">Leadership</a>
            <a href="#" class="link-dark fs-6">Careers</a>
            <a href="#" class="link-dark fs-6">Catalog</a>
            <a href="#" class="link-dark fs-6">Coursera Plus</a>
            <a href="#" class="link-dark fs-6">Professional Certificates</a>
            <a href="#" class="link-dark fs-6">MasterTrack&reg; Certificates</a>
            <a href="#" class="link-dark fs-6">Degrees</a>
            <a href="#" class="link-dark fs-6">For Enterprise</a>
            <a href="#" class="link-dark fs-6">For Government</a>
            <a href="#" class="link-dark fs-6">For Campus</a>
            <a href="#" class="link-dark fs-6">Become a Partner</a>
            <a href="#" class="link-dark fs-6">Coronavirus Response</a>
        </div>
        <div class="col p-4">
            <h6>Community</h6>
            <a href="#" class="link-dark fs-6">Learners</a>
            <a href="#" class="link-dark fs-6">Partners</a>
            <a href="#" class="link-dark fs-6">Developers</a>
            <a href="#" class="link-dark fs-6">Beta Testers</a>
            <a href="#" class="link-dark fs-6">Translators</a>
            <a href="#" class="link-dark fs-6">Blog</a>
            <a href="#" class="link-dark fs-6">Tech Blog</a>
            <a href="#" class="link-dark fs-6">Teaching Center</a>
        </div>
        <div class="col p-4">
            <h6>More</h6>
            <a href="#" class="link-dark fs-6">Press</a>
            <a href="#" class="link-dark fs-6">Investors</a>
            <a href="#" class="link-dark fs-6">Terms</a>
            <a href="#" class="link-dark fs-6">Privacy</a>
            <a href="#" class="link-dark fs-6">Help</a>
            <a href="#" class="link-dark fs-6">Accessibility</a>
            <a href="#" class="link-dark fs-6">Contact</a>
            <a href="#" class="link-dark fs-6">Articles</a>
            <a href="#" class="link-dark fs-6">Directory</a>
            <a href="#" class="link-dark fs-6">Affiliates</a>
        </div>
        <div class="col col-md-4 px-5">
            <div>
                <img src="../../assets/s12-1.svg" alt="s12-1" class="img-fluid mx-auto d-block my-4"
                    style="width: 78%;">
            </div>
            <div>
                <img src="../../assets/s12-2.png" alt="s12-2" class="img-fluid mx-auto d-block mb-4"
                    style="width: 78%;">
            </div>
            <div>
                <img src="../../assets/s12-3.png" alt="s12-3" class="img-fluid mx-auto d-block "
                    style="width: 42%;">
            </div>
        </div>
        <hr />
        <div class="d-flex justify-content-between footer-flex1">
            <div>
                <p class="fs-6">&copy; 2022 Coursera Inc. All rights reserved.</p>
            </div>
            <div class="d-flex footer-flex2">
                <img src="../../assets/s12-4.png" alt="s12-4" class="img-fluid mx-auto d-block">
                <img src="../../assets/s12-5.png" alt="s12-5" class="img-fluid mx-auto d-block">
                <img src="../../assets/s12-6.png" alt="s12-6" class="img-fluid mx-auto d-block">
                <img src="../../assets/s12-7.png" alt="s12-7" class="img-fluid mx-auto d-block">
                <img src="../../assets/s12-8.png" alt="s12-8" class="img-fluid mx-auto d-block">
            </div>
        </div>
    </div>
</div>