<div class="container-fluid bg-light p-4">
    <h1 class="pb-2">Welcome to Contact Us Page !!!</h1>
    
    <p class="display-6">Radix Software Services Pvt. Ltd.</p>

    <ul class="mt-4">
        <li class="text-black py-1">079 3520 0685</li>
        <li class="text-black py-1">biz@radixweb.in</li>
        <li class="text-black py-1">
            <em>
                Ekyarth,<br />
                B/H Nirma University,<br />
                Near Vandemataram Fabula,<br /> 
                Malabar County Rd,<br /> 
                Chharodi,<br /> 
                Ahmedabad-382481,<br />
                Gujarat.         
            </em>             
        </li>
    </ul>
</div>

