<!-- ------------------------------------------------SECTION:1 HEADER---------------------------------------------- -->
<div class="container cs-1">
    <div class="row ms-5">
        <div class="col-md-6">
            <h1 class="py-4">Learn Without Limits</h1>
            <p class="">Open your door to more with world-class Professional Certificates and degrees.</p>
            <div class="row">
                <div class="col-md-4 d-grid pe-0">
                    <button type="button" class="btn btn-primary text-white h3 d-block p-3 mb-0" data-bs-toggle="modal"
                        data-bs-target="#joinForFree"><strong>Join for Free</strong></button>
                </div>
                <div class="col-md-8 d-grid pe-0">
                    <button
                        class="btn btn-outline-primary h3 d-block p-3 mb-0 border border-4 border-primary s-1-b"><strong>Try
                            Coursera for Business</strong></button>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-none d-md-block">
            <img src="../../assets/2_female.png" alt="hero-img" class="img-fluid ms-auto d-block my-auto s1-img">
        </div>
    </div>
</div>

<!-- ------------------------------------------------SECTION:2 COLLABORATION---------------------------------------------- -->
<div class="container-fluid cs-2">
    <div class="row text-center">
        <div class="col">
            <a href="#" class="link-dark text-decoration-none">We collaborate with <span class="text-primary">200+
                    leading universities and companies</span></a>
        </div>
    </div>
    <div class="row py-5 px-3">
        <div class="col justify-content-center my-auto">
            <img src="../../assets/IIT_Bombay.png" alt="IIT_Bombay" class="img-fluid mx-auto d-block">
        </div>
        <div class="col justify-content-center my-auto p-0">
            <img src="../../assets/IIT_Roorkee.png" alt="IIT_Roorkee" class="img-fluid mx-auto d-block">
        </div>
        <div class="col justify-content-center my-auto p-0">
            <img src="../../assets/IIM_Calcutta.png" alt="IIM_Calcutta" class="img-fluid mx-auto d-block">
        </div>
        <div class="col justify-content-center my-auto">
            <img src="../../assets/google.png" alt="google" class="img-fluid mx-auto d-block">
        </div>
        <div class="col justify-content-center my-auto">
            <img src="../../assets/ISB.png" alt="ISB" class="img-fluid mx-auto d-block">
        </div>
        <div class="col justify-content-center my-auto">
            <img src="../../assets/stanford.png" alt="stanford" class="img-fluid mx-auto d-block">
        </div>
        <div class="col justify-content-center my-auto p-0">
            <img src="../../assets/meta.png" alt="meta" class="img-fluid mx-auto d-block">
        </div>
        <div class="col justify-content-center my-auto">
            <img src="../../assets/umich.jpg" alt="umich" class="img-fluid mx-auto d-block">
        </div>
        <div class="col justify-content-center my-auto">
            <img src="../../assets/aws.png" alt="aws" class="img-fluid mx-auto d-block">
        </div>
        <div class="col justify-content-center my-auto">
            <img src="../../assets/ibm.png" alt="ibm" class="img-fluid mx-auto d-block">
        </div>
    </div>
</div>