<div class="vh-100 overflow-auto">
    <h1 class="display-5 text-info mt-5 mt-sm-4 p-3 p-sm-0">PERSONAL DETAILS &colon;</h1>
    <ul class="list-group list-group-flush mt-4">
      <li class="list-group-item list-group-item-light">Date of Birth:<br />16&hyphen;September,2000</li>
      <li class="list-group-item list-group-item-light">Gender:<br />Female</li>
      <li class="list-group-item list-group-item-light">Hobbies:<br />Discover new music,Watching movies and series, Learn new things.</li>
      <li class="list-group-item list-group-item-light">Languages known:<br />English, Hindi and Gujarati.</li>
      <li class="list-group-item list-group-item-light">Strengths:<br />Quick Learner, Enthusiastic, Analytical 
        Skills, Creative Thinking, Leadership, Honesty, Punctuality, 
        Cooperative, Team work.</li>        
    </ul>
</div>
