*{
    box-sizing: border-box;
}

h1, h2, p{
    background-color: #d9ff00;
    border: 4px solid #0000ff;
}

@media only screen and (max-width: 500px){
    h1, h2, p{
        background-color: rgb(182, 38, 182);
        border: 4px solid #ff0000;
    }
}











