<div class="vh-100 overflow-auto">
    <h1 class="display-5 text-info mt-5 mt-sm-4 p-3 p-sm-0">EDUCATION &colon;</h1>
    <ul class="list-group list-group-numbered mt-4">
        <li class="list-group-item list-group-item-success">B-TECH
            <ul>
                <li>IT</li>
                <li>2018-2022</li>
                <li>L.J. Institute of Engineering and Technology</li>
                <li>CPI: 9.42</li>
                <li>CGPA: 9.51</li>
            </ul>
        </li>
        <li class="list-group-item list-group-item-warning">HSC
            <ul>
                <li>2017-2018</li>
                <li>Shree Narayana Guru Vidyalaya (GSHSEB)</li>
                <li>Percentage: 80.92&percnt;</li>
            </ul>
        </li>
        <li class="list-group-item list-group-item-warning">SSC
            <ul>
                <li>2015-2016</li>
                <li>Shree Narayana Guru Vidyalaya (GSEB)</li>
                <li>Percentage: 88.33&percnt;</li>
            </ul>
        </li>
    </ul>
 </div>   
