<!-- ------------------------------------------------SECTION:8 WORLD-CLASS LEARNING---------------------------------------------- -->
<div class="container-fluid cs-8 bg-info bg-opacity-10 p-0">
    <div class="row">
        <div class="col-lg-7">
            <img src="../../assets/s8.png" alt="s8" class="img-fluid">
        </div>
        <div class="col-lg-5 s8-col2">
            <h1 class="display-6">World-class learning for you</h1>
            <p>Pursue <strong>a promotion, a raise, or switch careers. 89% of learners</strong> who have taken a course
                <strong>report career benefits.</strong>
            </p>
            <h6>&hyphen; Coursera Learner Outcome Survey, India (2021)</h6>
            <button class="btn btn-primary text-white h3 p-3 px-5 mb-0" data-bs-toggle="modal"
                data-bs-target="#joinForFree"><strong>Join for Free</strong></button>
        </div>
    </div>
</div>


<!-- ------------------------------------------------SECTION:9 COURSERA COMMUNITY---------------------------------------------- -->
<div class="container text-center cs-9">
    <h1 class="display-1">From the Coursera community</h1>
    <h4 class="display-6">87+ million people are already learning on Coursera</h4>
    <div id="carousel-5" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel-5" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#carousel-5" data-bs-slide-to="1"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col col-lg-6 text-center">
                        <img src="../../assets/s9-1.png" alt="s9-1" class="">
                        <h1 class="text-primary">E. Naveen</h1>
                        <h3>Google IT Professional Certificate</h3>
                        <h6>Telangana</h6>
                        <hr class="text-primary w-25 mx-auto" />
                        <p class="px-4">"Google's IT Support Certificate allowed me to get a foot in the door for
                            the roles I went after, thereby allowing me to convert an offer."
                        </p>
                    </div>
                    <div class="col col-lg-6 text-center">
                        <img src="../../assets/s9-2.png" alt="s9-2" class="">
                        <h1 class="text-primary">Manmeet G</h1>
                        <h3>IBM Cybersecurity Analyst</h3>
                        <h6>Gujarat</h6>
                        <hr class="text-primary w-25 mx-auto" />
                        <p class="px-4">"The most amazing thing about this (IBM Cybersecurity Analyst) program is
                            the certified and experienced instructors."
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col col-lg-6 text-center">
                        <img src="../../assets/s9-3.png" alt="s9-3" class="">
                        <h1 class="text-primary">Uma k</h1>
                        <h3>IBM Data Science Professional Certificate</h3>
                        <h6>Bihar</h6>
                        <hr class="text-primary w-25 mx-auto" />
                        <p class="px-4">"The IBM Data Science Professional Certificate has continued to open doors
                            for me."
                        </p>
                    </div>
                    <div class="col col-lg-6 text-center">
                        <img src="../../assets/s9-4.png" alt="s9-4" class="">
                        <h1 class="text-primary">Bharathan M</h1>
                        <h3>Deep Learning Specialization</h3>
                        <h6>Gujarat</h6>
                        <hr class="text-primary w-25 mx-auto" />
                        <p class="px-4">"The knowledge I gained through the Machine Learning and Deep Learning courses
                            helped me land an internship."
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-5" data-bs-slide="prev">
            <span class="ion-chevron-left text-primary fs-1"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-5" data-bs-slide="next">
            <span class="ion-chevron-right text-primary fs-1"></span>
        </button>
    </div>
</div>


<!-- ------------------------------------------------SECTION:10 COURSERA FOR BUSINESS---------------------------------------------- -->
<div class="container-fluid cs-10" id="enterprise">
    <div class="row">
        <div class="col col-lg-6">
            <h1 class="display-5">Coursera for Business</h1>
            <div class="s10-div1">
                <p>Get world-class training and development programs developed by top universities and companies.
                    All on Coursera for Business.</p>
                <button
                    class="btn btn-lg btn-outline-primary h3 p-3 mb-0 border border-2 border-primary s-1-b cs-10-b1">
                    <strong>Coursera for Enterprise</strong></button>
                <button class="btn btn-lg btn-outline-primary h3 p-3 mb-0 border border-2 border-primary s-1-b">
                    <strong>Coursera for Teams</strong></button>
            </div>
        </div>
        <div class="col col-lg-6 px-5 text-center">
            <h6 class="text-primary">Thousands of institutions use Coursera's enterprise offering.</h6>
            <div class="row mb-5 px-3 text-center">
                <div class="col col-4">
                    <img src="../../assets/s10-1.png" alt="s10-1" class="img-fluid mx-auto d-block">
                </div>
                <div class="col col-4">
                    <img src="../../assets/s10-2.svg" alt="s10-2" class="img-fluid mx-auto d-block" style="width: 30%;">
                </div>
                <div class="col col-4">
                    <img src="../../assets/s10-3.png" alt="s10-3" class="img-fluid mx-auto d-block">
                </div>
            </div>
            <div class="row">
                <div class="col col-4">
                    <img src="../../assets/s10-4.svg" alt="s10-4" class="img-fluid mx-auto d-block" style="width: 90%;">
                </div>
                <div class="col col-4">
                    <img src="../../assets/s10-5.png" alt="s10-5" class="img-fluid mx-auto d-block">
                </div>
                <div class="col col-4">
                    <img src="../../assets/s10-6.png" alt="s10-6" class="img-fluid mx-auto d-block">
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ------------------------------------------------SECTION:11 JOIN FOR FREE---------------------------------------------- -->
<div class="container cs-11">
    <div>
        <img src="../../assets/s11.png" alt="s11">
    </div>
    <div class="cs-11-div2">
        <h1 class="display-6">Take the next step toward your personal and professional goals with Coursera.</h1>
        <p>Join now to receive personalized recommendations from the full Coursera catalog.</p>
        <button class="btn btn-lg btn-primary text-white h3 p-3 mb-0 cs-11-b" data-bs-toggle="modal"
            data-bs-target="#joinForFree"><strong>Join for Free</strong></button>
    </div>
</div>